* {
	margin: 0;
	padding: 0;
}

body {
	width: 1000px;
	margin: 0 auto;
}

header {
	width: 1000px;
	height: 60px;

	margin-top: 10px;

	background-color: green;
}

.content {
	width: 1000px;
	height: 400px;
	
	margin: 50px auto;

	background-color: blue;
}

footer {
	width: 1000px;	
	height: 50px;
	
	position: absolute;
	bottom: 0;
	
	background-color: black;
}

.numberStr {
	height: 50px;
	width: 500px;
	font-size: 20pt;
	padding: 5px 10px;
}

.history {
	width: 200px;
	height: 400px;
	
	float: right;
	
	background-color: orange;
}

.forms {
	width: 600px;
	height: 400px;
	float: left;
}

.inputs {
	width: 800px;
	height: 200px;
	
	float: left;
	
	background-color: cyan;
}

.result {
	width: 200px;
	height: 400px;
	display: flex;
	justify-content: center;
	float: left;
}

.switch {
	display: flex;
	justify-content: center;
	color: white;
}

.roman {
	
}

.arabic {

}

.change {
	height: 50px;

}

.send {
	height: 50px;

	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: center;
}

.text-box{
	border-radius: 5px;
	
}